# Ambientes Virtuais (Virtual Environments)
.venv/
venv/
env/
ENV/

# Byte-compiled / cache do Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Arquivos temporários do Office e Power BI
~$*.xlsx
~$*.docx
*.tmp

# Arquivos de ambiente e variáveis
.env
